#app {
    text-align: center;
    overflow: hidden;
}

.ws-web-title {
    color: palevioletred;
    margin-top: 15%;
    margin-bottom: 5%;
}

@media screen and (max-width: 720px) {
    .ws-web-title {
        margin-top: 35%;
    }
}

.ws-column {
    margin: '15px';
}

.ws-form {
    text-align: left;
    margin: 10px;
    width: 400px;
    display: inline-block;

    & .ws-input-error {
        font-size: 12px;
        color: orangered;
    }
}

.text-color-red {
    color: red;
}

.form-label {
    color: gray;
}

.ws-height-15 {
    height: 15px;
}

.ws-message-card-wrapper {
    margin-bottom: 20%;

    & .ws-message-card {
        background-color: rgb(117, 255, 192) !important;
        max-width: 400px;
        font-size: 18px;
        font-weight: 700;

    }
}

.ws-display-inline-block {
    display: inline-block;
}